<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/Pages.css" />
    <style></style>
</head>
<body>

<script src="https://cdn.socket.io/4.8.3/socket.io.min.js" integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0" crossorigin="anonymous"></script>
<script src="../static/socket_setup.js" defer></script>
<script src="../static/Pages.js" defer></script>
<script src="../static/Calendar.js" defer></script>
<div id="whole_page">

    <!-- Creates the top bar -->
    <div id = "top_bar">
        <button id="event_button">+</button>
        <button id="change_mode_button"> &#9776 </button>
        <button id="inbox_button">
            <img class="Inbox" src="../static/images/Inbox_icon.png" id="Inbox_icon" alt="Inbox icon">
        </button>
    </div>

    <!-- Event popup -->
    <div id="event_popup_background">
        <div id="event_popup" class="popup">
            <div id = "event_popup_bar">
                <button id="scrap_event">&#x2717 </button>
                <button id="save_event">&#x2713</button>
            </div>
            <div id = "event_popup_content">
                <label for="title"></label> <input type="text" id="title" name="event_title" placeholder="Title">
                <div id="attendees">
                    <label id="attendee_text">Attendees</label>
                    <button id="more_attendees">
                        &#xFF1E
                    </button>
                </div>
                <div id="start_label">Start:</div><input type="datetime-local" id="start">
                <div id="end_label">End:</div><input type="datetime-local" id="end">
                <label for="location_search"></label><select id="location_search">
                    <option hidden="hidden">&#x2315 Location</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Attendees popup -->
    <div id="attendees_popup_background">
        <div id="attendees_popup" class="popup">
            <div id="attendees_popup_bar">
                <button id="save_attendees">&#x2713</button>
            </div>
            <div id = "attendees_popup_content">
                
            </div>
            <template id="attendee_template">
                <div class="attendee">
                    <label>
                        <input type="checkbox" class="attendees_select">
                    </label>
                </div>
            </template>
        </div>
    </div>

    <!-- Inbox popup -->
    <div id="inbox_popup_background">
        <div id="inbox_popup" class="popup">
            <div id = "inbox_popup_bar">
                <button id="close_inbox">&#x2717</button>
            </div>
            <div id = "inbox_popup_content">
                            </div>
            <template id="event_invite_template">
                <div class="event_invite">
                    <div class="event_details">
                        <label class="event_name"> Event Name </label>
                        <label class="event_creator"> Event Creator </label>
                    </div>
                    <div id="event_actions">
                        <button id="accept_event">
                            &#x2713
                        </button>
                        <button id="decline_event">
                            &#x2717
                        </button>
                        <button id="more_event_info">
                            &#xFF1E
                        </button>
                    </div>
                </div>
            </template>
            <template id="friend_invite_template">
                <div class="friend_invite">
                    <div class="request_details">
                        <label> Friend Request </label>
                        <label class="request_username"> @username </label>
                    </div>
                    <div id="friend_actions">
                        <button id="accept_friend">
                            &#x2713
                        </button>
                        <button id="decline_friend">
                            &#x2717
                        </button>
                        <button id="hidden_button">
                            &#xFF1E
                        </button>
                    </div>
                </div>
            </template>
            <template id="message_template">
                <div class="message">
                    <div class="message_details">
                        <label> Event Message </label>
                        <label class="sender_username"> @username </label>
                        <labael class="message_text"> Message Text </label>
                    </div>
                    <div id="message_actions">
                        <button id="more_message_info">
                            &#xFF1E
                        </button>
                        <button id="remove_message">
                            &#x2717
                        </button>
                    </div>
                </div>
            </template>
        </div>
    </div>

    <div id="message_popup_background">
        <div id="message_popup" class="popup">
            <div id="message_popup_bar">
                <button id="close_message">&#x2717;</button>
                <button id="send_message">&#x2713</button>
            </div>

            <div id = "message_popup_content">
                <h2 id="message_popup_title">Create Message</h2>
                <label for="message_text"></label><textarea id="message_text" placeholder="Put your message for your attendees here!" ></textarea>
            </div>
        </div>
    </div>

    <!-- Main Calendar -->
    <div class = "day_calendar">
        <div class = "day_calendar_header">
            <button id="prev_day"><</button>
            <div id="day"></div>
            <button id="next_day">></button>
        </div>
        <div class = "day_calendar_body">
            <div class = "side_bar">
                <div class="time">12am</div>
                <div class="time">1am</div>
                <div class="time">2am</div>
                <div class="time">3am</div>
                <div class="time">4am</div>
                <div class="time">5am</div>
                <div class="time">6am</div>
                <div class="time">7am</div>
                <div class="time">8am</div>
                <div class="time">9am</div>
                <div class="time">10am</div>
                <div class="time">11am</div>
                <div class="time">12pm</div>
                <div class="time">1pm</div>
                <div class="time">2pm</div>
                <div class="time">3pm</div>
                <div class="time">4pm</div>
                <div class="time">5pm</div>
                <div class="time">6pm</div>
                <div class="time">7pm</div>
                <div class="time">8pm</div>
                <div class="time">9pm</div>
                <div class="time">10pm</div>
                <div class="time">11pm</div>
                <div class="time">12pm</div>
            </div>
            <div class = "main_content">
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                <div class = "time_block"></div>
                
            </div>
            <template id="event_template">
                <div class="event" id="e">
                    <div class="event_button_container">
                        <button class="message_button" title="Message">&#x270E</button>
                        <button class="delete_event_btn" title="Delete Event">&#x2717</button>
                    </div>
                    <label class="event_name"> Event Name </label>
                    <label class="event_creator"> Event Creator </label>
                    <label class="event_location"> Event Location </label>
                    <label class="event_start"> Event Start </label>
                    <label class="event_end"> Event End </label>
                </div>
            </template>
        </div>
    </div>

    <!-- Navigation bar things -->
    <div id="nav_bar">
        <button id="map_button">
            <img class="Map" src="../static/images/Map_icon.png" id="Map_icon" alt="Map icon">
        </button>
        <button class="On" id="calendar_button">
            <img class="Calendar" src="../static/images/Calendar_icon.png" id="Calendar_icon" alt="Calendar icon">
        </button>
        <button id="settings_button">
            <img class="Settings" src="../static/images/Person_icon.png" id="Settings_icon" alt="Settings icon">
        </button>
    </div>
</div>


</body>
</html>