<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/Pages.css" />
    <style></style>
</head>
<body>
<script src="../static/Pages.js" defer></script>
<script src="../static/Calendar.js" defer></script>
<div id="whole_page">
    
    <div id = "top_bar">
        <button id="event_button">+</button>
    </div>

    <div id="popup_background">
        <div id="event_popup" class="popup">
            <div id = "popup_bar">
                <button id="scrap_event">&#x2717 </button>
                <button id="save_event">&#x2713</button>
            </div>
            <label for="title"></label> <input type="text" id="title" name="event_title" placeholder="Title">
            <label for="attendees"></label> <input type="text" id="attendees" name="attendees" placeholder="Attendees">

            <label for="all_day">All Day?</label><input type="checkbox" id="all_day">
            <label for="start">Start:</label><input type="datetime-local" id="start">
            <label for="end">End:</label><input type="datetime-local" id="end">
            
            <label for="location_search"></label><input type="search" id="location_search" placeholder="&#x2315 Location">

        </div>
    </div>

    <div id="nav_bar">
        <button id="map_button">
            <img class="Map" src="../../images/Map_icon.png" id="Map_icon" alt="Map icon">
        </button>
        <button class="On" id="calendar_button">
            <img class="Calendar" src="../../images/Calendar_icon.png" id="Calendar_icon" alt="Calendar icon">
        </button>
        <button id="settings_button">
            <img class="Settings" src="../../images/Person_icon.png" id="Settings_icon" alt="Settings icon">
        </button>
    </div>
</div>

</body>
</html>