<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/Pages.css" />
    <style></style>
</head>
<body>
<script src="../static/Pages.js" defer></script>
<div id="whole_page">
    <div id="nav_bar">
        <button class="On" id="map_button">
            <img class="Map" src="../../images/Map_icon.png" id="Map_icon" alt="Map icon">
        </button>
        <button id="calendar_button">
            <img class="Calendar" src="../../images/Calendar_icon.png" id="Calendar_icon" alt="Calendar icon">
        </button>
        <button id="settings_button">
            <img class="Settings" src="../../images/Person_icon.png" id="Settings_icon" alt="Settings icon">
        </button>
    </div>
</div>

</body>
</html>