<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/Pages.css" />
    <style></style>
</head>
<body>

<script src="https://cdn.socket.io/4.8.3/socket.io.min.js" integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0" crossorigin="anonymous"></script>
<script src="../static/socket_setup.js" defer></script>
<script src="../static/Pages.js" defer></script>
<script src="../static/Settings.js" defer></script>

<div id="whole_page">
    <div id="settings_main">
        <div class="edits">
            <label id="username_display">@username</label>
            <button class="change" id="username">&#x270E</button>
        </div>
        <div class="edits">
            <label id="password_display">@password</label>
            <button class="change" id="password">&#x270E</button>
        </div>
        <div class="edits" >
            <label id="email_display">@email</label>
        </div>

        <button id="logout">
            Logout
        </button>
        <button id="delete">
            Delete Account
        </button>
        <div id="friends_bar">
            <div class="line_up">
                <select id="friends_search">
                    <option value="" disabled selected>Add a new friend...</option>
                </select>
                <button id="add_friends" title="Send Friend Request">&#x2713</button>
            </div>
            
            <div class="line_up" style="margin-top: 10px;">
                <select id="current_friends_search">
                    <option value="" disabled selected>Remove a friend...</option>
                </select>
                <button id="delete_friends" title="Remove Friend">&#x2717</button>
            </div>
            
            <template id="friends_template">
                <div class="friend">
                    <label class="friend_name"></label>
                </div>
            </template>
        </div>

        <div class="reports">
            <button id="report_bug">Report Bug</button>
            <button id="report_user">Report User</button>
        </div>
    </div>
    <div id="user_div_background">
        <div id="user_div">
            <input id="username_input" type="text" placeholder="Username" />
            <button class="change" id="user_check"> &#x2713</button>
        </div>
    </div>
    
    <div id="nav_bar">
        <button id="map_button">
            <img class="Map" src="../static/images/Map_icon.png" id="Map_icon" alt="Map icon">
        </button>
        <button id="calendar_button">
            <img class="Calendar" src="../static/images/Calendar_icon.png" id="Calendar_icon" alt="Calendar icon">
        </button>
        <button class="On" id="settings_button">
            <img class="Settings" src="../static/images/Person_icon.png" id="Settings_icon" alt="Settings icon">
        </button>
    </div>

    <div id="report_bug_background">
        <div id="report_bug_popup" class="popup">
            <div id="report_bug_popup_bar">
                <button id="close_report_bug">&#x2717;</button>
                <button id="send_report_bug">&#x2713</button>
            </div>

            <div id = "report_bug_popup_content">
                <h2 id="report_bug_popup_title">Crash/Bug Report</h2>
                <div id="checkboxes">
                    <label for="crash_check"><input type="checkbox" id="crash_check">Crash</label>
                    <label for="bug_check"><input type="checkbox" id="bug_check">Bug</label>
                </div>
                <label for="report_bug_text"></label><textarea id="report_bug_text" placeholder="Explain your crash/bug here!" ></textarea>
            </div>
        </div>
    </div>

    <div id="report_user_background">
        <div id="report_user_popup" class="popup">
            <div id="report_user_popup_bar">
                <button id="close_report_user">&#x2717;</button>
                <button id="send_report_user">&#x2713</button>
            </div>

            <div id = "report_user_popup_content">
                <h2 id="report_user_popup_title">User Report</h2>
                <select id="user_search">
                    <option value="" disabled selected>Select User ...</option>
                </select>
                <label for="report_user_text"></label><textarea id="report_user_text" placeholder="Explain your issue here!" ></textarea>
            </div>
        </div>
    </div>


</div>

</body>
</html>