<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/Pages.css" />
    <style></style>
</head>
<body>
<script src="../static/Pages.js" defer></script>
<script src="../static/Settings.js" defer></script>

<div id="whole_page">
    <div id="settings_main">
        <div class="edits">
            <label id="username_display">@username</label>
            <button class="change" id="username">&#x270E</button>
        </div>
        <div class="edits">
            <label id="password_display">@password</label>
            <button class="change" id="password">&#x270E</button>
        </div>
        <div class="edits" >
            <label id="email_display">@email</label>
            <button class="change" id="email">&#x270E</button>
        </div>

        <button id="logout">
            Logout
        </button>
        <button id="delete">
            Delete Account
        </button>
        <div id="friends_bar">
            <div id="line_up">
                <input id="friends_search"></input>
                <button id="add_friends">&#x2713</button>
                <button id="delete_friends">&#x2717</button>
            </div>
            <template id="friends_template">
                <div class="friend">
                    <label class="friend_name"></label>
                </div>
            </template>
        </div>
    </div>
    <div id="user_div_background">
        <div id="user_div">
            <input id="username_input" type="text" placeholder="Username" />
            <button class="change" id="user_check"> &#x2713</button>
        </div>
    </div>
    
    <div id="nav_bar">
        <button id="map_button">
            <img class="Map" src="../static/images/Map_icon.png" id="Map_icon" alt="Map icon">
        </button>
        <button id="calendar_button">
            <img class="Calendar" src="../static/images/Calendar_icon.png" id="Calendar_icon" alt="Calendar icon">
        </button>
        <button class="On" id="settings_button">
            <img class="Settings" src="../static/images/Person_icon.png" id="Settings_icon" alt="Settings icon">
        </button>
    </div>
</div>

</body>
</html>