body {
    background-color: #ABABAB;
    margin: 0;
    padding: 0;

}

#whole_page {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#nav_bar {
    background-color: black;
    width: 100%;
    height: 100px;
    margin-top: auto;
}