body {
    background-color: #ABABAB;
    margin: 0;
    padding: 0;

}

#whole_page {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#nav_bar {
    background-color: #E8A2A7;
    width: 100%;
    height: 100px;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

#settings_button.On, #calendar_button.On, #map_button.On {
    font-size: 20px;
    font-family: Rockwell, monaco, monospace;
    background-color: #CE666D;
    cursor: pointer;
}

#settings_button:hover, #calendar_button:hover, #map_button:hover {
    background-color: #B41923;
}

#calendar_button, #map_button, #settings_button {
    font-size: 20px;
    font-family: Rockwell, monaco, monospace;
    background-color: #E8A2A7;
    cursor: pointer;
}

#Calendar_icon, #Settings_icon, #Map_icon {
    width: auto;
    max-height: 100%;
}

