body {
    background-color: #ABABAB;
    margin: 0;
    padding: 0;

}

#whole_page {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#logo {
    width: 25%;
    height: auto;
    z-index: 1;
}

#color_block {
    background-color: black;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

#signin_background {
    background-color: #E8A2A7;
    outline: black solid 2px;
    margin-top: 15px;
    position: relative;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#email, #password {
    background-color: #EDDEAB;
    width: 75%;
    height: 10%;
    margin-top: 75px;
    color: black;
    font-size: 25px;
    font-family: Rockwell, monaco, monospace;
}

#button {
    background-color: #D4AF37;
    color: black;
    width: 50%;
    height: 10%;
    margin-top: 50px;
    font-size: 25px;
    font-family: Rockwell, monaco, monospace;
}

::placeholder {
    color: #7A7A7A;

}
