body {
    background-color: #ABABAB;
}

p {
    color: red;
}

.logo {
    display: block;
    margin: auto;
    width: 30%;
    height: 50%;
    position: relative;
    z-index: 1;
}

.color_block {
    background-color: black;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.signin_background {
    height: 200px;
    margin: auto;
    background-color: #E8A2A7;
    outline: #B41923 solid 3px;
}
