body {
    background-color: #ABABAB;
    margin: 0;
    padding: 0;

}

#whole_page {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}
#logo {
    width: 25%;
    height: auto;
    z-index: 1;
}

#color_block {
    background-color: black;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    
}

#sign_background {
    background-color: #E8A2A7;
    outline: black solid 2px;
    margin-top: 15px;
    position: relative;

    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#signup_email, #signup_password, #signup_username, #signup_pass_conf, #signin_email, #signin_password {
    background-color: #EDDEAB;
    width: 75%;
    height: 10%;
    color: black;
    font-family: Rockwell, monaco, monospace;
    font-size: 30px;
}

#signin_button, #signup_button {
    background-color: #D4AF37;
    color: black;
    width: 50%;
    height: 10%;
    font-size: 25%;
    font-family: Rockwell, monaco, monospace;
}

#sign_here {
    text-align: center;
    font-family: Rockwell, monaco, monospace;
    font-size: 15px;
    margin-top: -15px;
}

::placeholder {
    color: #7A7A7A;

}
